<footer>
  <div class="content">
    <div class="address">
      <iframe
        id="map"
        width="100%"
        height="100"
        src="https://maps.google.com/maps?width=780&amp;height=290&amp;hl=en&amp;q=SS%2018%202nd%20floor%2C%20Aditya%20Mega%20Mall%2C%20CBD%20Ground%2C%20New%20Delhi%20+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        ><a href="https://www.maps.ie/create-google-map/"
          >Embed Google Map</a
        ></iframe
      >
      <p><b>KPL Learning Associates</b></p>
      <p>
        SS-18, II Floor, Aditya Mega Mall, CBD Ground, Karkardooma Cout Road,
        Near, Hotel, Holiday Inn,, Vishwas Nagar Extension, Vishwas Nagar,
        Shahdara, new delhi, Delhi 110032
      </p>
    </div>
    <div class="contact">
      <p><b>Follow Us</b></p>
      <p>
        <a href="" class="pop"><i class="fab fa-facebook"></i> Facebook</a>
      </p>
      <p><b>Contact Us</b></p>
      <p>Email: mail@kpllearning.com</p>
      <p>Phone: +91 9315300496/98</p>
    </div>
    <div class="credits">
      <p>
        &copy; 2019 K.P.L.Learning. All rights reserved. Powered by
        <a href="http://isrisolutions.com/">Isri Solutions Pvt. Ltd.</a>
      </p>
    </div>
  </div>
</footer>
