<header>
  <div class="content">
    <div class="logo"><img src="logo.png" /></div>
    <div class="links">
      <a href="/"><div class="link">Home</div></a>
      <a href="/about"><div class="link">About Us</div></a>
      <a href="/resources"><div class="link">Our Resources</div></a>
      <!-- <a href="/gallery"><div class="link">Gallery</div></a> -->
      <a href="/catalouge.pdf"><div class="link">Catalogue</div></a>
      <!-- <a href="/testimonials"><div class="link">Testimonials</div></a> -->
      <div class="link contact">Contact</div>
      <a href="/users/login"><div class="link">Login</div></a>
    </div>
  </div>
  <div class="menu"><i class="fas fa-bars fa-lg"></i></div>
</header>
