<% if(typeof errors !='undefined'){ %> <% errors.forEach(function(error){ %>
<div class="alert-message"><%= error.msg %></div>
<% }); %> <% } %> <% if(success.length != 0){ %>
<div class="success-message"><%= success %></div>
<% } %> <% if(error.length != 0){ %>
<div class="alert-message"><%= error %></div>
<% } %>
