<% include ./partials/header %>
<section>
  <div class="content">
    <h1><i class="fas fa-marker"></i> About Us</h1>
    <p class="text">
      KPL Learning was established in the year 2005 under the academic guidance
      of Dr. R.D. Sharma (Ex. Asso. Professor NCERT). Today the products are
      widely accepted by most of the progressive schools across the country.
    </p>

    <p class="text">
      Our research and development department comprises of prominent educators
      and academic professionals with a vast experience of teaching in the
      leading schools across the nation.
    </p>

    <p class="text">
      The learning kit enhances and stimulates the class room learning through
      Hands-On experimentation and self-discovery. These kits are meant to
      initiate scholastic and co-scholastic activities which in later years
      become the basis for all curricular and co-curricular learning.
    </p>
    <hr />
    <h1><i class="fas fa-lightbulb"></i> Rationale</h1>
    <p class="text">
      Education is not the learning of facts, but the training of minds to
      think! Sometimes, the word ‘learning’ can turn many youngsters off to an
      otherwise fun opportunity. Kids would much rather play than learn. But
      what if there is a way they could do both? It gives us immense pleasure to
      introduce ourselves as the pioneers in designing and manufacturing
      innovative educational resources for Pre-Primary and Primary classes. Our
      products echo the spirit of Let’s have fun while we learn. It’s an amazing
      experience to teach preschoolers and primary school kids, the basic
      concepts like the alphabet, colours, shapes, numbers, reading etc. The
      KPL’s Learning Resources promise scientifically designed, child friendly
      educational manipulative for hands on activities which let the children
      explore and develop reasoning and problem solving skills.
    </p>
    <p class="text"><b>Our aim is to:</b></p>
    <p class="text">&middot; Encourage early learning.</p>
    <p class="text">&middot; Strengthen teacher-pupil bond.</p>
    <p class="text">
      &middot; Enhance the development of motor skills, pincer grip, eye hand
      coordination, self-esteem etc.
    </p>
    <p class="text">
      &middot; Concentrate on physical, social, emotional, language and
      cognitive skills.
    </p>
  </div>
</section>
<% include ./partials/footer %>
