<% include ./partials/header %>
<div class="slide-window">
  <div class="slides">
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </div>
</div>
<% include ./partials/footer %>
