<% include ./partials/nav %>
<div class="work-area">
  <header>
    <div class="content">
      <h1>Profile Settings</h1>
    </div>
  </header>
  <section>
    <div class="content">
      <p class="profile-info"><b>Username </b><%= user.username %></p>
      <h5>Change Password</h5>
      <% include ./partials/messages %>
      <form class="condensed" method="POST" action="/users/changepassword">
        <label for="oldpassword">Old Password</label>
        <input type="password" name="oldpassword" id="oldpassword" />
        <label for="newpassword">New Password</label>
        <input type="password" name="newpassword" id="newpassword" />
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" />
        <input type="submit" value="Change Password" class="large" />
      </form>
    </div>
  </section>
</div>
