<% include ./partials/header %>
<section class="white">
  <div class="full-content">
    <h1 class="center">Our Resources</h1>
    <div class="tabs">
      <div class="tab active">Pre-Learning</div>
      <div class="tab">Maths</div>
      <div class="tab">Language</div>
      <div class="tab">Discovery</div>
      <div class="tab">Health & Hygiene</div>
    </div>
    <div class="gallery"></div>
  </div>
</section>
<% include ./partials/footer %>
